body {
	text-align: center;
}
a {
	text-decoration: none;
}
header > nav > ul {
	list-style: none;
}
header > nav > ul > li {
	display: inline;
	margin-left: 100px;
}
.images {
	height: 100px;
	width: 100px;
	border-radius: 100px;
}
#main {
	background-color: green;
}
#about {
	background-color: red;
}
#inspiration {
	background-color: blue;
}