<h1>Welcome to Inspiration</h1>

<form action="/login" method="POST">
	<input type="text" name="username" value={{username}}>
	<input type="password" name="password" value={{password}}>
	<input type="submit">
</form>


<blockquote>{{number}}</blockquote>

<img class="images" src="images/butterfly.jpg">